<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 日志文件存放目录，绝度路径 -->
	<!-- 正式环境 <property name="LOG_DIR" value="/opt/soft/tomcat/logs" /> -->

	<property name="LOG_DIR" value="/Users/jjs/Downloads/logs" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFileINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/carfinance_crm_app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/carfinance_crm_app.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="rollingFileERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/carfinance_crm_app_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/test_maven.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
	<logger name="com.mall" level="DEBUG" />
	<logger name="org.springframework" level="INFO" />
	<logger name="com.alibaba.druid" level="WARN" />
	<!-- mybatis debug sql -->
	<logger name="com.mall.mapper" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFileINFO" />
		<appender-ref ref="rollingFileERROR" />
	</root>
</configuration>